In [1]:
# Prioritization of Securities for Analysis

In [2]:
# Modules used in this notebook

from IPython.display import display

import numpy as np
import pandas as pd

from datetime import datetime, date

import glob
import os

# Quantitative Finance - Option Valuation library
import QuantLib as ql

In [3]:
# Constants and Global Variables

# Group of Securities
# [TODO:] Need a better system to manage securities included for analysis.
#  Manually copying the list is not efficient.

# portfolio holdings
etf_holdings = ['TQQQ', 'UPRO']
stock_holdings = ['META', 'AAPL', 'PLTR', 'GPRO', 'C']

# trades executed with year
etf_trades = ['TLT', 'SOXL', 'SQQQ', 'DIA', 'USO']
stock_trades = ['ABNB', 'ADP', 'AEO', 'AMC', 'AMZN', 'AXP', 'BAC', 'BIIB', 'BTU', 'BX', \
                'CGC', 'CHPT', 'CI', 'CLF', 'CLOV', 'CMCSA', 'COST', 'CRM', 'DAL', 'DE', \
                'DIS', 'DOCU', 'DOW', 'DVN', 'GME', 'GOOGL', 'HD', 'IBM', 'JNJ', 'KR', \
                'LMT', 'M', 'MRK', 'MSFT', 'MU', 'NFLX', 'NIO', 'NKE', 'NVDA', 'OKTA', \
                'PANW', 'PEP', 'PFE', 'PINS', 'PYPL', 'RAD', 'RBLX', 'RKT', 'SE', 'SNAP', \
                'SNOW', 'SOFI', 'TSLA', 'TSM', 'UAL', 'UNH', 'UPS', 'VZ', 'WFC', 'WMT', \
                'XOM', 'ZM']

# index etfs for tracking
index_etfs = ['^SPX', '^VIX', 'SPY', 'QQQ', 'IWM', 'LQD', 'UVXY', 'VXX']

# new etfs and stocks under consideration
new_etfs = ['XBI', 'XLK', 'XLY', 'XLF', 'XLE', 'XOP', 'ARKK', 'TBT', 'ARKG', 'SMH']
new_stocks = []

# potential earnings play
earning_stocks = []

# etf_list is used to filter earnings report from TipRanks
etf_list = etf_holdings + etf_trades + index_etfs + new_etfs

master_list = etf_holdings + stock_holdings + etf_trades + stock_trades + index_etfs + new_stocks + new_etfs + earning_stocks

# remove duplicates while keeping order
securities = sorted(set(master_list), key=master_list.index)

# debug
#securities = set(['CRM', 'SPLK', 'SNOW', 'OKTA', 'KR'])
#securities = set(etf_holdings + stock_holdings)
#securities = set([ticker for ticker in earning_stocks if ticker not in master_list])

In [4]:
#print(sorted(set(new_earning_stocks)))

In [5]:
# Functions used

# Import option data for security

def get_option_data(security):
    # Input:
    #  security - Ticker symbol for security of interest
    # Return:
    #  dataframe of option data
    data_type = 'options'

    # get latest data file for security
    file_name = max(glob.iglob('data/{}_{}_*.csv'.format(security, data_type)), key=os.path.getctime)

    return pd.read_csv(file_name, index_col=None, parse_dates=True, infer_datetime_format=True)

def get_calendar_data(security):
    # Get Corporate Activity Calendar
    try:
        file_name = max(glob.iglob('data/{}_calendar.csv'.format(security)), key=os.path.getctime)
        calendar_df = pd.read_csv(file_name, index_col=0, parse_dates=True, infer_datetime_format=True)
        calendar_df = calendar_df.T
        calendar_df['Earnings Date'] = pd.to_datetime(calendar_df['Earnings Date'], infer_datetime_format=True, utc=True)
        calendar_df.set_index('Earnings Date', inplace=True)
        # change data type from string to numeric
        calendar_df = calendar_df.apply(pd.to_numeric)
    except:
        calendar_df = None

    return calendar_df

def get_earnings_data(security):
    # Get Earnings History
    try:
        file_name = 'data/{}_earnings_hist.csv'.format(security)
        earnings_df = pd.read_csv(file_name, index_col=0, parse_dates=True, infer_datetime_format=True)
        earnings_df.index = pd.to_datetime(earnings_df.index, utc=True, infer_datetime_format=True)
        earnings_df.index = earnings_df.index.tz_convert('America/New_York')
        earnings_df.dropna(axis=0, how='all', inplace=True)
        earnings_df = earnings_df.head(1)
    except:
        earnings_df = None
        
    return earnings_df

def get_tipranks_earnings_data(security):
    try:
        file_name = 'data/{}_earnings_hist_tipranks.csv'.format(security)
        tipranks_earnings_df = pd.read_csv(file_name, index_col=0, parse_dates=True, infer_datetime_format=True)
        tipranks_earnings_df = tipranks_earnings_df.head(1)
    except:
        tipranks_earnings_df = None
        
    return tipranks_earnings_df

In [6]:
# Initialize for results
result_dict = dict()
calendar_result_dict = dict()
tipranks_result_dict = dict()
security_low_price_set = set()
security_set = set()
security_low_set = set()

# Number of stocks to display for each criteria
count = 5

# Only consider stock with price above threshold
stock_price_threshold = 7.00
# Only consider stock with option open interest above threshold
open_interest_threshold = 100000

# lotto dicts
lotto_call_dict = dict()
lotto_put_dict = dict()

# calendar spread
cs_call_dict = dict()

In [7]:
# Import data for all securities
for security in securities:
    print(security)
    # Read option data from latest stored CSV file
    option_df = get_option_data(security)
            
    # Read corporate activity calendar data from latest stored CSV file
    calendar_df = get_calendar_data(security)
    
    # Read Earninhs history data
    earnings_df = get_earnings_data(security)
    
    # Read Tipranks Earnings data
    tipranks_earnings_df = get_tipranks_earnings_data(security)

    # Relevant info extract from corporate activity calendar
    if calendar_df is not None:
        earnings_disperson = 100.0 * (calendar_df['Earnings High'] - calendar_df['Earnings Low']) / calendar_df['Earnings Average']
        revenue_disperson = 100.0 * (calendar_df['Revenue High'] - calendar_df['Revenue Low']) / calendar_df['Revenue Average']
        calendar_result_dict[security] = {'Earn_Date': calendar_df.index.max().date(),
                                          'Earn_Dispersion': earnings_disperson.max(),
                                          'Rev_Dispersion': revenue_disperson.max()
                                         }
    
    # Relevant info extract from tipranks earnings data
    if tipranks_earnings_df is not None:
        tipranks_result_dict[security] = {'report_date': tipranks_earnings_df.report_date.max(), 
                                          'eps_forecast': tipranks_earnings_df.eps_forecast.max(),
                                          'eps_prev_yr': tipranks_earnings_df.eps_prev_yr.max()
                                         }
    
    # Info extract from options data    
    open_interest = option_df.Open_Int.sum()
    trade_volume = option_df.Vol.sum()

    # Remove all option data for which DTE < 0 (expired options)
    option_df.insert(loc=option_df.columns.get_loc('Expiry')+1, column='dte', value=pd.to_datetime(option_df.Expiry).sub(pd.to_datetime(option_df.Quote_Time)).dt.days)
    option_df = option_df[option_df.dte >= 0]

    # Nearest expiration data
#    print(security) #debug

    nearest_expiry = option_df.Expiry.min()
    nearest_expiry_df = option_df[option_df.Expiry == nearest_expiry]
    
    # ATM Strike
    # Find row with lowest absolute difference between Strike and Underlying Price
    idx = nearest_expiry_df['Strike'].sub(nearest_expiry_df['Underlying_Price']).abs().idxmin()
    atm_strike = nearest_expiry_df.loc[idx]['Strike']
    stock_price = nearest_expiry_df.loc[idx]['Underlying_Price']


    # Nearest Expiry (ne) ATM IV
    ne_atm_df = nearest_expiry_df[nearest_expiry_df.Strike == atm_strike]


    # ATM IV for nearest expiration for all securities of interest
    call_iv = ne_atm_df[ne_atm_df.Type == 'call'].IV.mean()
    put_iv = ne_atm_df[ne_atm_df.Type == 'put'].IV.mean()

    call_prem = (ne_atm_df[ne_atm_df.Type == 'call'].Bid.mean() + ne_atm_df[ne_atm_df.Type == 'call'].Ask.mean()) / 2.0
    put_prem = (ne_atm_df[ne_atm_df.Type == 'put'].Bid.mean() + ne_atm_df[ne_atm_df.Type == 'put'].Ask.mean()) / 2.0

    call_return = 100 * call_prem / atm_strike
    put_return = 100 * put_prem / atm_strike

    ne_atm_df = ne_atm_df.assign(PriceChange1SD = ne_atm_df.Underlying_Price * ne_atm_df.IV / np.sqrt(252))
    imp_move = ne_atm_df.PriceChange1SD.sum() * 100 / stock_price
    
    result_dict[security] = {'Open_Interest': open_interest,
                             'Trade_Volume': trade_volume,
                             'Stock_Price': stock_price,
                             'Latest_Expiry': nearest_expiry, 
                             'ATM_Strike': atm_strike,
                             'Call_IV': call_iv,
                             'Put_IV': put_iv,
                             'Call_Return': call_return,
                             'Put_Return': put_return,
                             'Imp_Move': imp_move
                            }
    
    # LOTTO PICKS
    # If dte is 0, options expiring today, select next option expiration
    lotto_option_df = option_df[option_df.dte > 0]
    lotto_option_df = lotto_option_df[lotto_option_df.dte == lotto_option_df.dte.min()]
    
    
    # Find desired %OTM lotto strike
    # call strike = stock x (1 + otm)
    # put strike = stock x (1 - otm)
    # %OTM = 10% for each day before expiration.
    otm = 0.10 * (lotto_option_df.dte.min() + 1)
    
    # Find rows with lowest absolute difference between stock price and OTM target for Call and Put
    lotto_call_idx = lotto_option_df[lotto_option_df.Type == 'call']['Strike'].sub(lotto_option_df.Underlying_Price * (1.0 + otm)).abs().idxmin()
    lotto_put_idx = lotto_option_df[lotto_option_df.Type == 'put']['Strike'].sub(lotto_option_df.Underlying_Price * (1.0 - otm)).abs().idxmin()

    if pd.isna(lotto_call_idx) == False:
        lotto_call_dict[security] = lotto_option_df.loc[lotto_call_idx].to_dict()
        
    if pd.isna(lotto_put_idx) == False:
        lotto_put_dict[security] = lotto_option_df.loc[lotto_put_idx]
    
    # CALL CALENDAR SPREADS
    # [TODO]: Volatility Difference for Volatility/Calendar Spreads
    # If dte is 0, options expiring today, select next expiration
    cs_option_df = option_df[(option_df.dte > 0)]
    cs_call_df = cs_option_df[cs_option_df.Type == 'call']
    
    # Strikes and expirations available
    call_strikes = sorted(cs_call_df.Strike)
    dte_range = sorted(cs_call_df.dte.unique())
            
    if ((len(call_strikes) > 0) & (len(dte_range) > 0)):
        # Strike closest to stock price (ATM Strike)
        call_atm_idx = call_strikes.index(min(call_strikes, key=lambda x: abs(x - stock_price)))

        # Select only few rows around ATM Strikes
        strikes_num = 4
        call_strikes_low_idx = call_atm_idx - strikes_num
        call_strikes_hi_idx = call_atm_idx + strikes_num + 1

        grouped_c = cs_call_df[(cs_call_df.Strike.isin(call_strikes[call_strikes_low_idx:call_strikes_hi_idx])) & (cs_call_df.dte.isin(dte_range))][['dte', 'IV']].set_index('dte').groupby('dte', sort=True).mean()

        dte_min = grouped_c.index.min()
        
        # -ve spread, IV dropped from earliest expiry
        # +ve spread, IV increased from earliest expiry
        if pd.isna(dte_min) == False:
            grouped_c['spread'] = 100 * (grouped_c['IV'] - grouped_c.loc[dte_min].IV)
            #grouped_c['spread'] = 100 * (grouped_c.IV - grouped_c.IV.shift(1))
            #grouped_c['spread'] = grouped_c.IV.pct_change
            
            spread_max = grouped_c.spread.min()
            
            dte_spread_max = grouped_c[grouped_c.spread == spread_max].index.values[0]
            
            expiry_short = cs_call_df[cs_call_df.dte == dte_min].Expiry.min()
            expiry_long = cs_call_df[cs_call_df.dte == dte_spread_max].Expiry.min()
            
            cs_call_dict[security] = {'spread': spread_max,
                                      'dte': dte_spread_max, 
                                      'stock_price': stock_price,
                                      'atm_strike': atm_strike,
                                      'expiry_short': expiry_short, 
                                      'expiry_long': expiry_long}
    
result_df = pd.DataFrame.from_dict(result_dict, orient='index')
calendar_call_df = pd.DataFrame.from_dict(cs_call_dict, orient='index')

TQQQ
UPRO
META
AAPL
PLTR
GPRO
C
TLT
SOXL
SQQQ
DIA
USO
ABNB
ADP
AEO
AMC
AMZN
AXP
BAC
BIIB
BTU
BX
CGC
CHPT
CI
CLF
CLOV
CMCSA
COST
CRM
DAL
DE
DIS
DOCU
DOW
DVN
GME
GOOGL
HD
IBM
JNJ
KR
LMT
M
MRK
MSFT
MU
NFLX
NIO
NKE
NVDA
OKTA
PANW
PEP
PFE
PINS
PYPL
RAD
RBLX
RKT
SE
SNAP
SNOW
SOFI
TSLA
TSM
UAL
UNH
UPS
VZ
WFC
WMT
XOM
ZM
^SPX
^VIX
SPY
QQQ
IWM
LQD
UVXY
VXX
XBI
XLK
XLY
XLF
XLE
XOP
ARKK
TBT
ARKG
SMH

In [8]:
# Skip securities with low price or low open interest
cond_low_price = result_df.Stock_Price >= stock_price_threshold
cond_low_oi = result_df.Open_Interest >= open_interest_threshold 

# Securities with Low Price or Low Open Interest
low_df = result_df[~(cond_low_price & cond_low_oi)]
print('Consolidated Low Price/OI {} Securities: {}'.format(len(low_df.index), sorted(low_df.index.to_list())))
display(low_df.sort_values(['Latest_Expiry', 'Imp_Move', 'Open_Interest', 'Stock_Price'], ascending=False).style.format(formatter={'Open_Interest': '{:,.0f}', 'Trade_Volume': '{:,.0f}', 'dC_otm':'{:,.0f}', 'dP_otm':'{:,.0f}'}, precision=2))

Consolidated Low Price/OI 86 Securities: ['AAPL', 'ABNB', 'ADP', 'AEO', 'AMC', 'ARKG', 'ARKK', 'AXP', 'BAC', 'BIIB', 'BTU', 'BX', 'C', 'CGC', 'CHPT', 'CI', 'CLF', 'CLOV', 'CMCSA', 'COST', 'CRM', 'DAL', 'DE', 'DIA', 'DIS', 'DOCU', 'DOW', 'DVN', 'GME', 'GOOGL', 'GPRO', 'HD', 'IBM', 'IWM', 'JNJ', 'KR', 'LMT', 'LQD', 'M', 'META', 'MRK', 'MSFT', 'MU', 'NFLX', 'NIO', 'NKE', 'NVDA', 'OKTA', 'PANW', 'PEP', 'PFE', 'PINS', 'PLTR', 'PYPL', 'QQQ', 'RAD', 'RBLX', 'RKT', 'SE', 'SMH', 'SNAP', 'SNOW', 'SOFI', 'SOXL', 'SPY', 'SQQQ', 'TBT', 'TLT', 'TQQQ', 'TSM', 'UAL', 'UNH', 'UPRO', 'UPS', 'USO', 'UVXY', 'VXX', 'VZ', 'WMT', 'XBI', 'XLE', 'XLF', 'XLK', 'XLY', 'XOP', '^VIX']

In [9]:
flds = ['Put_IV', 'Call_IV', 'Put_Return', 'Call_Return', 'Imp_Move']

for fld in flds:
    # Exclude low OI/low Price securities
    sorted_df = result_df[cond_low_price & cond_low_oi].sort_values(fld, ascending=False)

    security_set.update(set(sorted_df.index[:count]))
    security_low_set.update(set(sorted_df.index[-count:]))

cols_incl = ['Open_Interest', 'Trade_Volume', 'Stock_Price', 'Latest_Expiry', 'ATM_Strike', 'Call_IV', 'Put_IV', 'Call_Return', 'Put_Return', 'Imp_Move']
print('\nConsolidated Sell Option {} Securities: {}'.format(len(security_set), security_set))
display(sorted_df[sorted_df.index.isin(security_set)][cols_incl].sort_values(['Latest_Expiry', 'Imp_Move'], ascending=[True, False]).style.format(formatter={'Open_Interest': '{:,.0f}', 'Trade_Volume': '{:,.0f}', 'Stock_Price': '{:,.2f}', 'ATM_Strike': '{:,.2f}'}, precision=2))

print('\nConsolidated Buy Option {} Securities: {}'.format(len(security_low_set), security_low_set))
display(sorted_df[sorted_df.index.isin(security_low_set)][cols_incl].sort_values(['Latest_Expiry', 'Imp_Move'], ascending=[True, False]).style.format(formatter={'Open_Interest': '{:,.0f}', 'Trade_Volume': '{:,.0f}', 'Stock_Price': '{:,.2f}', 'ATM_Strike': '{:,.2f}'}, precision=2))

Consolidated Sell Option 6 Securities: {'XOM', 'WFC', '^SPX', 'AMZN', 'TSLA', 'ZM'}

Consolidated Buy Option 6 Securities: {'XOM', 'WFC', '^SPX', 'AMZN', 'TSLA', 'ZM'}

In [10]:
if len(calendar_result_dict) > 0:
    calendar_result_df = pd.DataFrame.from_dict(calendar_result_dict, orient='index')
    calendar_df = calendar_result_df[calendar_result_df.Earn_Date >= pd.Timestamp.today().date()]
else:
    calendar_df = None

if len(tipranks_result_dict) > 0:
    tipranks_result_df = pd.DataFrame.from_dict(tipranks_result_dict, orient='index')
    # NOTE: the today's date is skipped if strftime is not used after today()
    cond1 = pd.to_datetime(tipranks_result_df.report_date) >= pd.Timestamp.today().strftime('%Y-%m-%d')
    cond2 = pd.to_datetime(tipranks_result_df.report_date) <= (pd.Timestamp.today() + pd.DateOffset(days=14))
    tipranks_df = tipranks_result_df[cond1 & cond2]
else:
    tipranks_df = None

if (calendar_df is not None) and (tipranks_df is not None):
    temp_df = tipranks_df.join(calendar_df, how='left')
    print('\nEarnings Calendar and Estimates for {} securities: {}'.format(len(temp_df.index), temp_df.index.to_list()))
    display(temp_df.sort_values(['report_date', 'Earn_Dispersion', 'Rev_Dispersion', 'eps_forecast'], ascending=[True, False, False, False]).style.format(precision=2))

Earnings Calendar and Estimates for 15 securities: ['ABNB', 'AEO', 'AMC', 'CHPT', 'CLOV', 'COST', 'CRM', 'KR', 'OKTA', 'PANW', 'RKT', 'SE', 'SNOW', 'SOFI', 'ZM']

In [11]:
# Call Calendar Spread
iv_drop_threshold = -25
temp_df = calendar_call_df[calendar_call_df.spread <= iv_drop_threshold].sort_values(['dte', 'spread'], ascending=[True, True])
print('Call Calendar Spreads (IV drop by >{} points) for {} securities: {}'.format(abs(iv_drop_threshold), len(temp_df), temp_df.index.to_list()))
display(temp_df)

Call Calendar Spreads (IV drop by >25 points) for 1 securities: ['ZM']

        spread  dte  stock_price  atm_strike expiry_short expiry_long
ZM -100.082855  330        73.39        75.0   2023-06-16  2024-01-19

In [12]:
print('Lotto Put Strikes (Top 10 by IV)\n')

lotto_put_df = pd.DataFrame.from_dict(lotto_put_dict, orient='index')
lotto_put_df.index.name = 'ticker'

# add %OTM column
lotto_put_df.insert(15, 'otm_pct', 100. * abs(lotto_put_df.Strike - lotto_put_df.Underlying_Price) / lotto_put_df.Underlying_Price)

# exclude low price and earnings due stocks
excl_cols = ['JSON', 'Quote_Time', 'Underlying', 'IsNonstandard', 'Root', 'PctChg', 'Chg', 'Symbol']

# exclude low price and earnings due stocks
# [NOTE]: Not correct. It excludes far away earnings too from lotto
#lotto_put_df = lotto_put_df[(lotto_put_df.Underlying_Price >= 3.0 * stock_price_threshold) & ~(lotto_put_df.index.isin(tipranks_df.index))]
lotto_put_df = lotto_put_df[(lotto_put_df.Underlying_Price >= 3.0 * stock_price_threshold)]

# exclude un-necessary columns
lotto_put_df = lotto_put_df.loc[:,~lotto_put_df.columns.isin(excl_cols)]

# Trade date within last 4 days to account for weekend and long holidays.
display(lotto_put_df[pd.to_datetime(lotto_put_df.Last_Trade_Date) >= (pd.Timestamp.now().normalize() - pd.Timedelta(4, 'd'))].sort_values(['otm_pct', 'IV'], ascending=[False, False]).head(10).style.format(precision=2, formatter={'Strike':'{:,.1f}', 'Vol':'{:,.0f}', 'Open_Int':'{:,.0f}'}))

print('Lotto Put Strikes for Holdings')
display(lotto_put_df[lotto_put_df.index.isin(etf_holdings + stock_holdings)].sort_values(['otm_pct', 'IV'], ascending=[False, False]).style.format(precision=2, formatter={'Strike':'{:,.1f}', 'Vol':'{:,.0f}', 'Open_Int':'{:,.0f}'}))

Lotto Put Strikes (Top 10 by IV)

Lotto Put Strikes for Holdings

In [13]:
print('Lotto Call Strikes (Top 10 by IV)\n')

lotto_call_df = pd.DataFrame.from_dict(lotto_call_dict, orient='index')
lotto_call_df.index.name = 'ticker'

# add %OTM column
lotto_call_df.insert(15, 'otm_pct', 100. * abs(lotto_call_df.Strike - lotto_call_df.Underlying_Price) / lotto_call_df.Underlying_Price)

# exclude low price and earnings due stocks
# [NOTE]: Not correct. It excludes far away earnings too from lotto
#lotto_call_df = lotto_call_df[(lotto_call_df.Underlying_Price >= 3.0 * stock_price_threshold) & ~(lotto_call_df.index.isin(tipranks_df.index))]
lotto_call_df = lotto_call_df[(lotto_call_df.Underlying_Price >= 3.0 * stock_price_threshold)]

# exclude un-necessary columns
lotto_call_df = lotto_call_df.loc[:,~lotto_call_df.columns.isin(excl_cols)]

display(lotto_call_df[pd.to_datetime(lotto_call_df.Last_Trade_Date) >= (pd.Timestamp.now().normalize() - pd.Timedelta(4, 'd'))].sort_values(['otm_pct', 'IV'], ascending=[False, False]).head(10).style.format(precision=2, formatter={'Strike':'{:,.1f}', 'Vol':'{:,.0f}', 'Open_Int':'{:,.0f}'}))

print('Lotto Call Strikes for Holdings')
display(lotto_call_df[lotto_call_df.index.isin(etf_holdings + stock_holdings)].sort_values(['otm_pct', 'IV'], ascending=[False, False]).style.format(precision=2, formatter={'Strike':'{:,.1f}', 'Vol':'{:,.0f}', 'Open_Int':'{:,.0f}'}))

Lotto Call Strikes (Top 10 by IV)

Lotto Call Strikes for Holdings

In [14]:
print('\nStocks with potential download data error')
threshold = 0.01
for fld in ['Put_IV', 'Call_IV']:
    print('\tStocks with {} < {}'.format(fld, threshold))
    display(result_df[result_df[fld] < threshold].style.format(formatter={'Open_Interest':'{:,.0f}', 'Trade_Volume':'{:,.0f}'}, precision=2))

Stocks with potential download data error
	Stocks with Put_IV < 0.01

	Stocks with Call_IV < 0.01

In [15]:
print('\nNearest Expiration Dates\n\tCheck stocks with nearest weekly or monthly Friday not included')
display(result_df.sort_values(['Latest_Expiry', 'Imp_Move', 'Open_Interest', 'Stock_Price'], ascending=False)[['Latest_Expiry', 'Open_Interest', 'Stock_Price', 'Imp_Move']].style.format(formatter={'Open_Interest': '{:,.0f}'}, precision=2))

Nearest Expiration Dates
	Check stocks with nearest weekly or monthly Friday not included

# Calendar Spread
# Steps:
# 1. 
print(security)

# Expirations available
call_strikes = sorted(cs_call_df.Strike.unique())
dte_range = sorted(cs_call_df.dte.unique())

# Assign short and long DTE for call calendar spread
if len(dte_range) > 3:
    dte_short = dte_range[0]
    dte_long = dte_range[2]
    
    # Find strikes closest to stock price (ATM Strike)
    short_df = cs_call_df[cs_call_df.dte == dte_short]
    long_df = cs_call_df[cs_call_df.dte == dte_long]
    
    short_atm_strike = min(short_df[].Strike, key=lambda x: abs(x - stock_price))
    long_atm_strike = min(long_df.Strike, key=lambda x: abs(x - stoke_price))
    
    print(short_df[short_df.Strike == min(short_df.Strike, key=lambda x: abs(x - stock_price))])
    print(long_df[long_df.Strike == min(long_df.Strike, key=lambda x: abs(x - stock_price))])
    
    

# Strike closest to stock price (ATM Strike)
call_atm_idx = call_strikes.index(min(call_strikes, key=lambda x: abs(x - stock_price)))

# Select only few rows around ATM strike
strikes_num = 4
call_strikes_low_idx = call_atm_idx - strikes_num
call_strikes_hi_idx = call_atm_idx + strikes_num

if call_strikes_low_idx < 0:
    call_strikes_low_idx = 0
if call_strikes_hi_idx >= len(call_strikes):
    call_strikes_hi_idx = len(call_strikes) - 1
    
print(len(call_strikes), call_atm_idx, call_strikes_low_idx, call_strikes_hi_idx)

# Select the latest expiry and expiry two periods later (weekly: 2 weeks, monthly: 2 months)
print(dte_range)
    
print(dte_short, dte_long)

grouped_c = cs_call_df[(cs_call_df.Strike.isin(call_strikes[call_strikes_low_idx:call_strikes_hi_idx]))][['dte', 'IV']].set_index('dte').groupby('dte', sort=True).mean()

# Difference between IVs two periods apart.
grouped_c['spread'] = 100 * (grouped_c.IV - grouped_c.IV.shift(-2))
print(grouped_c)

grouped_c[grouped_c.spread == grouped_c.spread.max()].index